server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://db-productos:5432/productos_db
    username: productos_user
    password: productos_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
